:root {
    --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --tri2: #74512D;
    --red: red;
    --green: rgb(9, 138, 89);
    --blue: rgb(0, 191, 255);
    --black: black;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    /* padding-top: 100px; */
    background-color: var(--sec);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri1);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 25px;
    position: absolute;
}

.elem {
    background-color: #FEBA17;
    height: 250px;
    width: 18%;
    font-size: 30px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(247, 244, 244, 0.2);
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2 {
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-weight: 500;
    font-size: 20px;
}

.elem:active {
    scale: 0.97;
}

.fullElem {
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 40px;
    display: none;
    position: absolute;
}

.back {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: var(--tri1);
    border-radius: 10px;
    padding: 5px 12px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.back:active {
    scale: 0.97;
}

.todo-list-fullpage {
    display: block;
}

.todo-list-fullpage h2 {
    font-size: 50px;
}

.todo-list-fullpage .todo-container {
    height: 80%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
    width: 32%;
    background-color: var(--tri2);
    height: 100%;
}

.todo-list-fullpage .todo-container .allTask {
    width: 65%;
    background-color: var(--tri2);
    height: 100%;
}

.todo-list-fullpage .todo-container .addTask form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

.todo-list-fullpage .todo-container .addTask input#task-input {
    padding: 15px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 500;
}

.todo-list-fullpage .todo-container .addTask textarea {
    padding: 15px 25px;
    width: 100%;
    font-size: 28px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-list-fullpage .todo-container .addTask button {
    padding: 15px 25px;
    width: 100%;
    font-size: 25px;
    background-color: var(--tri1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 25px;
    font-weight: 700;
    transition: all ease 0.3s;
}

.todo-list-fullpage .todo-container .addTask button:active {
    scale: 0.96;
}

.todo-list-fullpage .todo-container .allTask {
    width: 65%;
    background-color: var(--tri2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.task h5 {
    color: var(--sec);
    font-size: 25px;
}

.task button {
    padding: 8px 16px;
    color: var(--pri);
    background-color: green;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
}

.mark-imp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 12px 15px;
    width: 100%;
    gap: 12px;
}

.mark-imp input {
    scale: 2;
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: var(--tri1);
}

.mark-imp label {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}